@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: #09090b;
}

#root {
  min-height: 100svh;
  background-color: #09090b;
  color: #fafafa;
  position: relative;
  font-size: 1rem;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}